.home{
    height: 30px;
    width: 68px;
    color: white;
    background-color: aqua;
    font-family: sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}
.our{
height: 30px;
    width: 300px;
    color: white;
    background-color: aqua;
    font-family: sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}
.ou{
    height: 30px;
    width: 200px;
    color: white;
    background-color: aqua;
    font-family: sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    font-size: 20px;

}