.body{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("2ndpage.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.secondpageheading{
    position:  absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%,-50%);

}
 h1{
    color: white;
    font-size: 40px;

}
.secondpagehead{
    top: 30%;
    left:30%;
    position: absolute;
    transform: translate(-50%,-50%);
    color: rgba(250, 246, 246, 0.984);
    font-size:20px ;
    font-weight:bold ;
}
;i{
    list-style-type: none;
    float: right;
    margin-top: 25px;
}
.one{
    color: white;
    font-weight: bold;
    height: 30px;
    width: 200px;
    border: none;
    border-radius: 15px;
    background-color: aqua;
    text-decoration: black;
    margin-top: 20px;
    margin-left: 20px;
    transition: 0.5s;

}
.but{
    color: white;
    text-decoration: none;
}
.one:hover{
    color: white;
    background-color: rgb(54, 118, 118);
    opacity: 0.5;
}
ul{
    list-style-type: none;
    float: right;
    margin-top: 25px;
}
ul li{
    display: inline;
}
ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid transperant;
    transition: 0.6s ease;
}
ul li a:hover{
    box-shadow: rgb(55, 50, 50);
    color: black;
}
ul li.active a{
        background-color: white;
        color: black;
}
ul{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%);
    
}
.jammu{
    height: 30px;
    width: 200px;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin-left: 15px;
    background-color:rgb(228, 186, 15) ;
    margin-bottom: 20px;
}
.hp{
    height: 30px;
    width: 200px;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin-left: 15px;
    background-color:rgb(228, 186, 15) ;

}
.punjab{
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin-left: 15px;
    background-color:rgb(228, 186, 15) ;

}
.uk{
    height: 30px;
    width: 150px;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin-left: 15px;
    background-color:rgb(228, 186, 15) ;

}
.delhi{
    height: 30px;
    width: 90px;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin-left: 15px;
    background-color:rgb(228, 186, 15) ;height: 30px;
    

}
.rajasthan{
    height: 30px;
    width: 150px;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin-left: 15px;
    background-color:rgb(228, 186, 15) ;

}
.haryana{
    height: 30px;
    width: 150px;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin-left: 15px;
    background-color:rgb(228, 186, 15) ;

}
.up{
    height: 30px;
    width: 150px;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin-left: 15px;
    background-color:rgb(228, 186, 15) ;
}
.chand{
    height: 30px;
    width: 150px;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin-left: 15px;
    background-color:rgb(228, 186, 15) ;
}
.para{
    position: absolute;
    top: 75%;
    left: 60%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 20px;
    width: 600px;
    font-weight: bold;
    font-family: sans-serif;

}


   

